# **Overview**

#### **Context**
The growth of supermarkets in most populated cities is increasing, and market competition is also high. The dataset represents historical sales data from a supermarket company, recorded across three different branches over three months.

#### **Stakeholder Request:**  

We've been seeing variations in sales performance across our three branches. Some locations seem to perform better than others, and weâ€™re unsure why. We want to understand what factors drive sales at each branch and identify opportunities to improve underperforming locations. Can you analyze the data and provide insights? We also want to look at the financial performance over the past three months.

#### **Key Business Questions:**  
1. Which branch generates the **highest and lowest revenue**, and why?  
2. How do **product line sales** vary across branches?  
3. Does **customer type (Members vs. Normal)** affect sales differently at each branch?  
4. What are the **peak shopping hours** for each branch?
5. What are the **peak shopping days of the week** for each branch?
6. Are certain **payment methods** more popular at specific branches?  
7. Do **customer satisfaction ratings** differ by branch, and do they correlate with revenue?
8. What are the trends in revenue over the past 3 months?

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')  # Change style here

# Data Gathering

The dataset is available in Kaggle and you can download it from this link [here](https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales). It consists of 17 columns and 1000 rows.

#### **Attribute Information:**

- **Invoice ID**: Computer-generated sales slip invoice identification number.  
- **Branch**: Branch of the supercenter (3 branches are available, identified as A, B, and C).  
- **City**: Location of the supercenters.  
- **Customer Type**: Type of customers, recorded as:
  - **Member**: Customers using a member card.  
  - **Normal**: Customers without a member card.  
- **Gender**: Gender of the customer.  
- **Product Line**: General item categorization groups:
  - Electronic accessories  
  - Fashion accessories  
  - Food and beverages  
  - Health and beauty  
  - Home and lifestyle  
  - Sports and travel  
- **Unit Price**: Price of each product in dollars ($).  
- **Quantity**: Number of products purchased by the customer.  
- **Tax**: 5% tax fee applied to customer purchases.  
- **Total**: Total price including tax.  
- **Date**: Date of purchase (Records available from January 2019 to March 2019).  
- **Time**: Purchase time (Between 10 AM and 9 PM).  
- **Payment**: Payment method used by the customer (Three methods available: Cash, Credit Card, and E-wallet).  
- **COGS**: Cost of goods sold.  
- **Gross Margin Percentage**: Gross margin percentage.  
- **Gross Income**: Gross income.  
- **Rating**: Customer satisfaction rating on their overall shopping experience (On a scale of 1 to 10).

In [18]:
df = pd.read_csv('./dataset/supermarket_sales - Sheet1.csv')

# Data Assessing

In [20]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [38]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [56]:
cat_cols = ['Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Payment']
for col in cat_cols:
    print(df[col].unique())
    print('-' * 40)

['A' 'C' 'B']
----------------------------------------
['Yangon' 'Naypyitaw' 'Mandalay']
----------------------------------------
['Member' 'Normal']
----------------------------------------
['Female' 'Male']
----------------------------------------
['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']
----------------------------------------
['Ewallet' 'Cash' 'Credit card']
----------------------------------------

In [101]:
df['gross margin percentage'].value_counts()

gross margin percentage
4.761905    1000
Name: count, dtype: int64

In [121]:
(100 * df['gross income'] / df['Total']).round(6).unique()

array([4.761905])

- They have a fixed gross margin of approximately 4.8%.

In [107]:
(df['gross income'] == df['Tax 5%']).all()

True

- We found that they only make a profit from the 5% tax added to the total price. That explains why they have a fixed gross margin.

In [130]:
# check that gross income is calculated correctly

((df.Total - df.cogs).round(4) == df['gross income']).all()

True

In [95]:
((df['gross income'] / df.Total) * 100).round(6)

0      4.761905
1      4.761905
2      4.761905
3      4.761905
4      4.761905
         ...
995    4.761905
996    4.761905
997    4.761905
998    4.761905
999    4.761905
Length: 1000, dtype: float64

In [135]:
df.duplicated().sum()

0

#### Data Assessment Conclusion:
- No missing values
- No duplicate rows
- No inconsistencies issues in categorical columns
- Measures are calculated correctly
- They have a fixed gross margin of approximately 4.8%
#### Data Quality Issues
- The `Date` and `Time` columns have an incorrect data type

# Data Cleaning

##### Change `Date` column data type from `object` to `datetime` using `pd.to_datetime`

In [144]:
df['Date'] = pd.to_datetime(df['Date'])

##### Test

In [153]:
df['Date'].head()

0   2019-01-05
1   2019-03-08
2   2019-03-03
3   2019-01-27
4   2019-02-08
Name: Date, dtype: datetime64[ns]

##### Extract the hour from the `Time` column

In [171]:
df['hour'] = df.Time.apply(lambda x: x.split(':')[0])

##### Test

In [174]:
df['hour'].value_counts()

hour
19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: count, dtype: int64

##### Extract the day of the week from the Date column

In [186]:
df['day_of_week'] = df.Date.dt.day_name()

##### Test

In [189]:
df['day_of_week'] .head()

0    Saturday
1      Friday
2      Sunday
3      Sunday
4      Friday
Name: day_of_week, dtype: object

# Exploratory Data Analysis

# Drawing Conclusions

# Communicating Results